<h1>All the Links</h1>
<%= link_to "Add a link", new_link_path, class: "btn btn-info" %>
<% @links.each do |link| %>
<hr>
  <h3>
    <%= vote_badge(link) %>
    <%= link_to link.title, link.url%> 
    <small><%= link.category.capitalize %></small>
    <%= link_to "VIEW LINK", link, class: "btn btn-primary" %>
    <%= link_to "UPVOTE", vote_path(link, vote: 'up'), class: "btn btn-success", remote: true %>
    <%= link_to "DOWNVOTE", vote_path(link, vote: 'down'), class: "btn btn-danger", remote: true %>
  </h3>
<% end %>