<h1>All the Links</h1>
<%= link_to "Add a link", new_link_path, remote: true, class: "btn btn-info" %>
<% @links.each do |link| %>
<hr>
  <h3>
    <%= vote_badge(link) %>
    <%= link_to link.title, link.url%> 
    <small><%= link.category.capitalize %></small>
    <%= link_to "VIEW LINK", link, class: "btn btn-primary" %>
    <%= link_to "UPVOTE", vote_path(link, vote: 'up'), class: "btn btn-success" %>
    <%= link_to "DOWNVOTE", vote_path(link, vote: 'down'), class: "btn btn-danger" %>
  </h3>
<% end %>

<!-- Modal -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="linkModalBody">
        This shouldn't show
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




