<%= link_to 'BACK', links_path, class: "btn btn-default" %>
<% if @link.user == current_user && user_signed_in? %>
  <%= link_to "EDIT", edit_link_path(@link), class: "btn btn-info"  %>
  <%= link_to "DELETE", @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"   %>
<% end %>


<h3><%= @link.title%> <%= vote_badge(@link) %></h3>
<h4><%= link_to @link.url, @link.url %></h4>
<%= link_to "UPVOTE", upvote_path(@link), class: "btn btn-success" %>
  <%= link_to "DOWNVOTE", downvote_path(@link), class: "btn btn-danger" %>

<h3>Posted by <%= link_to @link.user.name, user_path(@link.user) %></h3>